* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto Mono", sans-serif;
  color: #f1f1f1;
  font-size: 80px;
  font-style: italic;
  font-weight: 300;
}

h2 {
  color: #b7dbec;
}

header {
  background-color: rgb(230, 228, 227);
  position: relative;
  padding-top: 200px;
  padding-bottom: 250px;
  margin: 0;
  text-align: center;
  background-image: url("images/arctic-landscape.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}

i.logo {
  padding: 0 8px 0 0;
}

button {
  cursor: pointer;
}

hr {
  width: 10%;
  border: solid #939596 2px;
  border-bottom: none;
  margin: auto;
}

footer {
  padding: 20px 0 20px;
}

footer,
.main {
  background-color: #423f50;
}

h3.subtitle {
  color: #e7e7e7;
}

div.section-title {
  font-family: "Roboto Mono", sans serif;
  font-size: 20px;
}

.social-icon {
  color: #1aa4bd;
  font-size: 50px;
  padding: 20px 20px 20px 20px;
}

.card {
  display: flex;
  background-color: transparent;
  box-sizing: border-box;
  align-content: center;
  border-width: 1px;
  border-radius: 5px;
  margin: 2px;
  min-height: 0vh;
  min-width: 30vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  align-self: center;
  max-width: 50%;
  max-height: 50%;
  display: block;
}

.fab,
.fas {
  font-size: 3rem;
  color: #e7e7e7;
}

.logo {
  font-size: 2rem;
  color: #e7e7e7;
}

.card div {
  box-sizing: 100%;
  display: inline-block;
  margin: auto;
}

.card p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  align-items: center;
  margin: auto;
}

.main {
  padding: 50px 0 0px 0;
}

.skills,
.portfolio,
.contact {
  padding: 20px 0 40px 0;
  align-items: center;
}

.active {
  background-color: aqua;
  color: #000;
}

.button {
  background: whitesmoke;
  background-color: #fff;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #4352a7;
  font-family: "Roboto Mono", sans-serif;
  font-size: 20px;
  padding: 10px 25px;
  margin: 10px;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
  align-items: center;
  display: flex;
}
