* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  min-height: 100%;
}

body[lang="en"] [lang="fr"],
body[lang="fr"] [lang="en"] {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

p {
  color: #e7e7e7;
}

select {
  background-color: black;
  color: #e7e7e7;
}

h1 {
  font-family: "Roboto Mono", sans-serif;
  color: #f1f1f1;
  font-size: 80px;
  font-style: italic;
  font-weight: 300;
}

h2 {
  color: #b7dbec;
}

h3 {
  font-size: 20px;
  color: #71b4f3;
}

header {
  background-color: rgb(230, 228, 227);
  position: relative;
  padding-top: 200px;
  padding-bottom: 250px;
  margin: 0;
  text-align: center;
  background-image: url("https://www.freepik.com/free-photos-vectors/background");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}

i.logo {
  padding: 0 8px 0 0;
}

button {
  cursor: pointer;
}

hr {
  width: 10%;
  border: solid #939596 2px;
  border-bottom: none;
  margin: auto;
}

footer {
  padding: 20px 0 20px;
}

footer,
.main {
  background-color: #ebedf7;
}

h3.subtitle {
  color: #e7e7e7;
}

div.section-title {
  font-family: "Roboto Mono", sans serif;
  font-size: 20px;
  padding: 0 0 20px 0;
}

.social-icon {
  color: #1aa4bd;
  font-size: 50px;
  padding: 20px 20px 20px 20px;
}

.card {
  display: flex;
  background-color: transparent;
  box-sizing: border-box;
  align-content: center;
  border-width: 1px;
  border-radius: 1px;
  margin: 2px;
  min-height: 0vh;
  min-width: 30vw;
}

.skill.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project.card:hover {
  box-shadow: none;
}

img {
  align-self: center;
  max-width: 50%;
  max-height: 50%;
  display: block;
}

.fab,
.fas {
  font-size: 3rem;
  color: #e7e7e7;
}

.logo {
  font-size: 2rem;
  color: #e7e7e7;
}

.project.card div {
  box-sizing: 100%;
  display: inline-block;
  margin: auto;
}

.card p {
  width: 100%;
  overflow-wrap: break-word;
}

.wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  align-items: center;
  margin: auto;
}

.main {
  padding: 50px 0 0px 0;
}

.skills,
.portfolio,
.contact {
  padding: 20px 0 40px 0;
  align-items: center;
}

.active {
  background-color: aqua;
  color: #000;
}

.button {
  background: whitesmoke;
  background-color: #fff;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #4352a7;
  font-family: "Roboto Mono", sans-serif;
  font-size: 20px;
  padding: 10px 25px;
  margin: 10px;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 1;
  padding: 0 2rem;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
